.modal-title {
    font-size: 30px;
    color: #0879c9;
}

.modal-content {
    text-align:left;
}

label.col-form-label {
    letter-spacing: 1px;
    font-size: 15px;
    color: #000;
}

p.dont-do a {
    color: #F45C5D;
}

.modal-footer .btn-primary,
.modal-footer .btn-secondary {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 14px;
}

.modal-footer .btn-primary {
    background-color: #0e0e0e;
    border-color: #0e0e0e;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

    .modal-footer .btn-primary:hover {
        opacity: .8;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        transition: 0.5s all;
    }

.right-w3l input[type="submit"] {
    cursor: pointer;
    letter-spacing: 1px;
    padding: 10px 0;
    background: #0879c9;
    color: #fff;
    margin: 2vw 0 1.5vw;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}


/*---------------------------------------------*/


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
}

.bg1 {
    background-color: #3b5998;
    
}

.bg2 {
    background-color: #1da1f2
}

.bg3 {
    background-color: #ea4335
}

/*//////////////////////////////////////////////////////////////////
[ Social item ]*/
.login100-social-item {
    font-size: 25px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

    .login100-social-item:hover {
        color: #fff;
        background-color: #333333;
    }

