@{
    ViewBag.Title = "Confirm Email";
}


<div class="container">
    <div class="cart-empty">
        <h2>@ViewBag.Title.</h2>
        <p>
            <div id='loginForm'></div>
            Thank you for confirming your email! And click<a href="#" data-toggle="modal" data-target="#exampleModal"><span> </span>Here</a> to login
        </p>
    </div>
</div>
