@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        <div id='loginForm'></div>
        Your password has been reset. And click<a href="#" data-toggle="modal" data-target="#exampleModal"><span> </span>Here</a>to login
    </p>
</div>
