
.well {
    margin-right:25px;
}
#myCarousel .thumbnail {
    margin-bottom: 0;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
    color: #fff;
    top: 45%;
    color: #428BCA;
    bottom: auto;
    padding-top: 4px;
    width: 30px;
    height: 30px;
    text-shadow: none;
    opacity: 1;
}

    .carousel-control.left:hover {
        color: #d9534f;
    }

    .carousel-control.right:hover {
        color: #d9534f;
    }